#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-image:url('imges/hipgo.jpg');
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
